<br/>

<div class="col-10 offset-1">
  <div class="booyah-box text-center">
    <h1>Careers</h1>
    <p>We aren't offering any career positions at this time.</p>
    <p>In fact, we are actively seeking career positions elsewhere! Check out <a href="https://jeremyoglesby.netlify.com" target="_blank">my portfolio</a> and get in contact if you are interested in speaking about potential careers.</p>
  </div>
</div>