<br />

<div class="col-10 offset-1">
  <div class="booyah-box">
    <h1>Add a new lesson</h1>
    <br/>
    <%= simple_form_for @lesson, url: instructor_section_lessons_path(@section) do |f| %>
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <br/>
      <%= f.submit "Add lesson", class: 'btn btn-warning' %>
      <br/>
      <br/>
    <% end %>
  </div>
</div>