html {
  background-color: goldenrod;
  position: relative;
  height: 100%;
}

body {
  background: rgb(43, 43, 43);
  color: rgb(238, 238, 238);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: goldenrod;
}

a:hover {
  text-decoration: none;
  color: aqua;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid gold;
  border-bottom: 1px solid rgb(43, 43, 43);
}

ul {
  list-style-type: none;
}

ul .header {
  font-size: 25px;
}

.fa-reorder:hover {
  cursor: move;
}

.course-divider {
  width: 90%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.notice-box {
  position: absolute;
  top: 65px;
  z-index: 1000;
  width: 100%;
}

.notice-box .alert-warning {
  color: rgb(117, 89, 17);
  background-color: rgba(223, 179, 32, 0.808);
  border-color: goldenrod;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: image_url('dark-honeycomb.png')
}

.navbar-dark a.navbar-brand {
  font-weight: 400;
  letter-spacing: 5px;
  color: gold;
}

.navbar-dark a.navbar-brand:hover {
  color: gold;
  text-shadow: 0 0 .5em goldenrod, 0 0 1em goldenrod, 0 0 1.5em goldenrod, 0 0 2em goldenrod;
}

.navbar-toggler {
  background-color: rgb(43, 43, 43);
}

#content {
  flex: 1;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 375px;
}

.frosty {
  background: rgba(2, 2, 2, 0.4);
}

.frosty h1 {
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
}

.btn {
  border-radius: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.img-h-100 {
  max-height: 100%;
}

.index-content {
  margin-left: 3%;
  margin-right: 3%;
}

.features-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.feature {
  max-width: 100%;
  -moz-box-shadow: 1px 1px 8px 0 black;
  -webkit-box-shadow: 1px 1px 8px 0 black;
  box-shadow: 1px 1px 8px 0 black;
  background: rgb(70, 70, 70);
  border: 1px solid dimgray;
  padding: 10px;
  margin: 20px 15px;
}

.feature h3 {
  font-size: 4vw;
}

.feature hr {
  width: 70%;
}

.feature p {
  font-size: 2vw;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 8px 0 black;
  -webkit-box-shadow: 1px 1px 8px 0 black;
  box-shadow: 1px 1px 8px 0 black;
  background: rgb(49, 49, 49);
  border: 1px solid dimgray;
  padding: 10px;
  margin: 20px 0;
}

.booyah-box .section {
  background-color: rgb(70, 70, 70);
}

.section-li {
  padding: 20px;
}

.lesson-li {
  margin: 10px;
  font-weight: 200;
  font-size: 15px;
  margin: 20px
}

.lesson-li b {
  font-size: 25px;
  font-weight: 100;
}

.lesson-li p {
  margin: 0;
}

.lesson-li hr {
  margin-top: 2px;
  margin-bottom: 8px;
  width: 90%;
}

.lesson-handle {
  padding: 0;
}

.course-info .col-sm-8 {
  border-left: 1px solid lightgray;
}

.border-left {
  border-left: 1px solid lightgray;
}

.clr {
  clear: both;
}

.modal-content {
  background-color: rgb(70, 70, 70);
}

.close {
  color: white;
  text-shadow: none;
}

.close:hover {
  color: gold;
}

#footer {
  background: image_url('dark-honeycomb.png') center center fixed;
  background-size: auto;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

footer small {
  font-weight: 100;
}